
* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: burlywood;
    width: 100%;
    height: 5%;
   
}

header #header-section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

h1 {
    
    min-width: 10%;
    background-color: burlywood;
    color: blanchedalmond;
    box-sizing: border-box;
    margin-left: 20px;
    padding: 0, 50px, 0, 20px;   
    font-size: 60px;
    text-shadow: -2px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
    
    
}



h2 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    padding: 30px 0px;
    background-color: tomato;
    border-radius: 70px;
    margin: 10px;
}

h1 span {
    text-shadow: -3px -3px gray;
}

nav {
    
}

figure {
    margin-left: 30%;
}

#family-pic {
    width: 30%;
    min-width: 150px;
    height: auto;
}

#header-section1 ul {
    display: flex;
        
}

#nav1 li {
    padding-right: 20px;
    font-size: 25px;
    display: inline;
    text-align:right;
    
}

.nav:hover {
    color: aqua;
}

#header-section2 {
    padding-bottom: 10px;
    
}

.nav2 {
    display: flex;
    justify-content: center;

}

.nav2 li {
    display: inline;
    margin-left: 25px;
    font-size: 20px;
}

.nav2 li::before {
    content: "\2022";
    color: violet;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin-right: 5px;
}

#parenting {
   background-color: lightslategray;
   border-radius: 20px;
   
   
}

#gavin-king {
    
    padding: 20px;
    float: left;
    width: 10%;
    min-width: 80px;
    max-width: 150px;
    height: auto;
    max-height: 175px;

    
    
}

#parenting p {
    padding-top: 20px;
    text-align: left;
    font-size: 175%;
    padding-left: 20px;
    
}

#float-left::after {
    content: "";
    clear: both;
    display: table;
  }

.questions-for-parents {
    padding-bottom: 10px;
    padding-left: min(300px, 40%);
    list-style-type: upper-roman;
    font-size: 150%;
}

#can-i-parent {
    width: 50%;
    min-width: 150px;
    margin-left: 20px;
    
}

#float-right img {
    padding: 20px;
    float: right;
    width: 15%;
    min-width: 100px;
    max-width: 150px;
    height: auto;
    max-height: 175px;

}

#float-right::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
}